@import 'fonts';
@import 'variables';
@import 'libs/normalize';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  max-width: 1620px;
  padding: 0 10px;
  margin: 1rem auto;
}
