@import '@/assets/scss/variables';

.add {

    &__button {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &__icon {
        fill: $color-passive-text;
        margin-right: 18px;
        width: 28px;
        height: 28px;
        transition: fill .2s;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: $color-passive-text;
        transition: color .2s;
    }

    &:hover &__icon {
        fill: $color-active-text;
    }

    &:hover &__text {
        color: $color-active-text;
    }
}