@import '@/assets/scss/variables';

.theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-passive-text;
    // margin-bottom: 20px;

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: inherit;
    }

    &__icon {
        fill: $color-passive-text;
    }
}

.active {
    color: $color-active-text;
}