@import '@/assets/scss/variables';

.notes {
    height: inherit;
    border: 1px solid rgb(255 255 255 / 10%);
    max-width: 450px;
    padding: 0 10px;
    background-color: $color-background-element;
    width: 25%;
    min-width: 300px;
    flex-shrink: 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            margin: 30px 0;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            color: $color-active-text;
        }
    }

    &__items {
        flex: 1 1 auto;
        position: relative;
        max-width: 100%;

        &-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            position: absolute;
            gap: 20px;
            height: 100%;
            overflow-y: auto;

            scrollbar-color: $color-background-element;
            scrollbar-width: thin;
        }

        &:after {
            content  : "";
            position : absolute;
            z-index  : 1;
            bottom   : 0;
            left     : 0;
            pointer-events   : none;
            background-image : linear-gradient(to bottom,
                              rgba(27, 29, 31, 0%),
                              rgb(27, 29, 31) 100%);
            width    : 100%;
            height   : 3em;
        }

        &-wrapper::-webkit-scrollbar {
            width: 0;
        }
    }

    &__add {
        display: flex;
        align-items: center;
        padding-top: .5rem;
        margin-bottom: 40px;
        cursor: pointer;

        &-icon {
            fill: $color-passive-text;
            margin-right: 18px;
            width: 28px;
            height: 28px;
            transition: fill .2s;
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $color-passive-text;
            transition: color .2s;
        }

        &:hover &-icon {
            fill: $color-active-text;
        }

        &:hover &-text {
            color: $color-active-text;
        }
    }
}