@import '@/assets/scss/variables';

.note-detail {
    height: inherit;
    padding: 0 10px;
    width: 100%;
    border: 1px solid rgb(255 255 255 / 10%);
    background-color: $color-background-element;

    &__wrapper {
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: 30px 0;

        &-title {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: $color-active-text;
        }
    }

    &__icon {
        flex: 0 0 auto;
        fill: $color-passive-text;
        transition: $transition-icon;
        cursor: pointer;
    }

    &__icon:hover {
        fill: $color-active-text;
    }

    &__text {
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $color-active-text;
    }

    &__code-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        // max-width: 300px;
        // max-width: inherit;
        // max-width: 100%;
        // width: 100%;
    }

    &__code {
    }

    & pre {
        margin-bottom: 1rem;
    }

    & pre code {
        border-radius: 8px;
        width: 100%;
    }
}