@import '@/assets/scss/variables';

.tool-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
    background-color: $color-background-element;

    &__item {
        flex-shrink: 0;
        margin: 0 5px 10px;

        &_active {
            color: red;
        }
    }
}