@import '@/assets/scss/variables';

.tool-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-bottom: 1px solid $color-passive-text;
    background-color: $color-background-element;

    &__item {
        flex-shrink: 0;
        min-width: 2.5rem;
        padding: 5px 10px 5px 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: $color-passive-text;
        background-color: transparent;
        border: none;
        border-right: 1px solid $color-passive-text;
        cursor: pointer;
        transition: color .2s;

        &:hover {
            color: $color-active-text;
        }

        &_active {
            color: red;
        }
    }
}