@import '@/assets/scss/variables';

.dots {
    position: relative;

    &__img {
        fill: $color-passive-text;
        cursor: pointer;
        transition: $transition-icon;
    }

    &:hover &__img {
        fill: $color-active-text;
    }
}