@import '@/assets/scss/variables';

.themes {
    position: relative;
    height: inherit;
    border: 1px solid rgb(255 255 255 / 10%);
    padding: 0 10px;
    background-color: $color-background-element;
    width: 18%;
    min-width: 250px;
    flex-shrink: 0;

    &__wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            margin: 30px 0;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            color: $color-active-text;
        }

        // &-icon--wrapper {
        //     position: relative;
        // }

        // &-icon {
        //     fill: $color-active-text;
        //     cursor: pointer;
        // }
    }

    &__items {
        flex: 1 1 auto;
        position: relative;

        &-wrapper {
            display: flex;
            flex-direction: column;
            position: absolute;
            gap: 20px;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            scrollbar-color: $color-background-element;
            scrollbar-width: thin;
        }

        &:after {
            content  : "";
            position : absolute;
            z-index  : 1;
            bottom   : 0;
            left     : 0;
            pointer-events   : none;
            background-image : linear-gradient(to bottom,
                              rgba(27, 29, 31, 0%),
                              rgb(27, 29, 31) 100%);
            width    : 100%;
            height   : 3em;
        }

        &-wrapper::-webkit-scrollbar {
            width: 0;
        }
    }
}