@import '@/assets/scss/variables';

.note-redactor {
    width: 100%;
    background-color: $color-background-element;
    border: 1px solid $color-passive-text;
    border-radius: 4px;

    &__title {
        // display: inline-block;
        padding: 17px 24px;
        color: $color-active-text;
        border-bottom: 1px solid $color-passive-text;
    }
}